<div class="row">
    <div class="col s6 m6 offset-s3 offset-m3">
        <div class="card">
            <div class="card-content">
                <!--Titulo-->
                <span class="card-title center-align">{{title}}</span>
                <!--Pagination-->
                <ul class="pagination center-align">
                    <li class="waves-effect"><a id="prev-fill-btn"><i class="material-icons">chevron_left</i></a></li>
                    {{!-- <li class="active"><a href="#!">1</a></li> --}}
                    <li class="waves-effect"><a id="next-fill-btn"><i class="material-icons">chevron_right</i></a></li>
                </ul>
            </div>

            <div class="carousel carousel-slider">
                {{#each fillList}}
                <div class="carousel-item">
                    <div class="card-action">
                        <h2 class="card-title">Respondido por: {{usuario}} </h2>
                    </div>
                    {{#each preguntaList}}
                    <div class="card-action">
                        <h5> {{nombre}} </h5>
                        {{#if respuesta.textoRespuesta}}
                            <p>{{respuesta.textoRespuesta}}</p>
                        {{else}}
                            {{#if respuesta.respuestaOpcionList}}
                                <form action="#">
                                    {{#each respuesta.respuestaOpcionList}}
                                    <p>
                                        <label>
                                            <input 
                                                {{#if ../isMultipleOption}}
                                                type="checkbox" 
                                                {{/if}}

                                                {{#if ../isMultipleSelection}}
                                                type="radio" 
                                                {{/if}}

                                                disabled="disabled" 
                                                
                                                {{#if selecionado}}
                                                class="filled-in"
                                                checked
                                                {{/if}} 
                                            />
                                            <span> {{opcionText}} </span>
                                        </label>
                                    </p>
                                    {{/each}}
                                </form>
                            {{/if}}
                        {{/if}}
                    </div>
                    {{/each}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/readAnsweredCuestionario.public.js"></script> 
